@model CoursesManagementSystem.DB.Models.QuestionLevel

@{
    ViewData["Title"] = "Add A Question Level";
}

        <h3 class="text-primary mb-4 text-start">
            <i class="bi bi-plus-circle-dotted"></i> Create a New Question Level
        </h3>

        <form asp-controller="QuestionLevel" asp-action="Create" method="post">
            <div class="row">
                <div class="col-md-8">
                    <!-- Category Name -->
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label fw-bold">Question Level Name</label>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Enter Question Level name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="DifficultyScore" class="form-label fw-bold">Difficulty Score</label>
                        <input type="number" class="form-control" asp-for="DifficultyScore" placeholder="Enter Difficulty Score">
                        <span asp-validation-for="DifficultyScore" class="text-danger"></span>
                    </div>

                    <!-- Created By -->
                    <div class="mb-3">
                        <label asp-for="CreatedBy" class="form-label fw-bold">Created By</label>
                        <input type="text" class="form-control" asp-for="CreatedBy" placeholder="Enter your name">
                        <span asp-validation-for="CreatedBy" class="text-danger"></span>
                    </div>

                    <!-- Buttons -->
                    <div class="d-flex justify-content-between mt-4">
                        <a class="btn btn-secondary" asp-action="GetAll">Cancel</a>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </form>
   
