@model CoursesManagementSystem.DB.Models.CourseQuestionConfig

@{
    ViewData["Title"] = "Create Course Question Config";
}



<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h3 class="text-primary mb-4">
            <i class="bi bi-plus-circle-dotted"></i> Create Course Question Config
        </h3>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="QuestionsCountPerLesson" class="control-label"></label>
        <input asp-for="QuestionsCountPerLesson" class="form-control" />
        <span asp-validation-for="QuestionsCountPerLesson" class="text-danger"></span>
    </div>

  @*   <div class="form-group">
        <label asp-for="CourseId" class="control-label"></label>
        <select asp-for="CourseId" class="form-control" asp-items="ViewBag.Courses">
            <option value="">-- Select Course --</option>
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div> *@
            <input type="hidden" name="CourseId" value="@ViewBag.CourseId" />


    <div class="form-group">
        <label asp-for="QuestionLevelId" class="control-label"></label>
        <select asp-for="QuestionLevelId" class="form-control" asp-items="ViewBag.QuestionLevels">
            <option value="">-- Select Question Level --</option>
        </select>
        <span asp-validation-for="QuestionLevelId" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Create</button>
                <a asp-controller="CourseQuestionConfig" asp-action="CourseQuestionConfigByCourseId" asp-route-Courseid="@ViewBag.CourseId" class="btn btn-secondary">Cancel</a>
    </div>
</form>
</div>
</div>

