@model Level
@{
    ViewData["Title"] = "Delete Level";
}
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                @*     <button type="button" class="btn-close" data-bs-dismiss="modal"></button> *@
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Are You Sure You Want to Delete This Level : @Model.Name?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <form asp-action="Delete" asp-controller="Level" asp-route-id="@Model.ID" method="post">
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.history.back();">Cancel</button>
            </div>

        </div>
    </div>
</div>

<script>
    // Trigger the modal to open programmatically
    var myModal = new bootstrap.Modal(document.getElementById('myModal'));
    myModal.show();
</script>