@model LevelVM

@{
    ViewData["Title"] = "Edit Level";
}

<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h3 class="text-warning mb-4">
            <i class="bi bi-pencil-square"></i> Update Level
        </h3>

        <form asp-controller="Level" asp-action="Update" method="post">
            <div class="row">
                <div class="col-md-8">
                    <input type="hidden" name="id" value="@ViewBag.Id" />
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label fw-bold">Level Name</label>
                        <input type="text" class="form-control" asp-for="Name" readonly>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Sort" class="form-label fw-bold"></label>
                        <input type="text" class="form-control" asp-for="Sort" placeholder="Enter difficulty Level Number">
                        <span asp-validation-for="Sort" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
